body {
  display: flex;
  justify-content: center;
}

#app {
  display: flex;
  flex-direction: column;
  font-family: Tahoma, sans-serif;
  width: 80vw;
  max-width: 1200px;
}

h1 {
  text-align: center;
}

@media all and (max-width: 372px) {
  h1 {
    font-size: 1.5em;
  }
}